@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');

body {
    background-image: url('../images/webbackground2_1.jpg');
    background-size: 100% auto;
    background-color: black;
    margin:0;
}

body, li, button {
    font-family: 'Oswald', sans-serif;
}

.info{
    text-align: left;
    color: black;
    background: black;
    color:white;
    font-size: 12pt;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 55px;
    font-weight: bold;
    text-transform: uppercase;
    width: 700px;
}

.info a {
    color: white;
    text-decoration: underline;
}

.info p.title {
    text-transform: initial;
}


.gigs li {
    font-weight: bold;
}

.gigs {
    max-width: 650px;
    text-align: left;
    color: black;
    background: black;
    color:white;
    font-size: 13pt;
    box-sizing: border-box;
    height: 370px;
    width: 360px;
    margin: 100px auto 0 50px;
    font-size: 16pt;
    padding: 5px 7px 0 7px;
    position: relative;
}

.gigs > ul {
    font-style:italic;
    list-style-type: none;
    font-weight: normal !important;
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: 30;
    /* left: 0; */
    line-height: 1.5em;
}
h2 {
    font-size: 35pt;
    display: inline-block;
    margin: 5px;
}

#header {
    background-color: rgba(255,255,255, .5);
}

#menu {
    height:60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 30pt;
    vertical-align: middle;
    padding: 10px;    
    padding-top: 20px;
}
.MenuItem {
    color: white;
    background-color:black;
    font-style:italic;
    font-size:30px;
    padding: 2px 13px 5px 10px;
    text-align: center;
}

.MenuItem:last-of-type {
    margin-left: 90px;
}
#main {
    text-align: center;
    width: 100%;
}
#juniorBill {
    width:70%;
    text-align: center;
    position: relative;
    margin-top: 12%;
}

#homeIcon {
    display: inline-block;
    top: 10px;
    position: relative;
    left: 7px;
}

/* photos */
.left-col, .right-col {
    display: inline-block;
    float: left;
    
}

.left-col {
    width: 55.4%;
}

.right-col {
    width: 44.5%;
}
img {
    max-width: 100%;
}

.photos {
    max-width: 690px;
    margin: 0 auto;
    margin-top:40px;
    height:250px;
}

a {
    text-decoration: none;
}
