@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700');

body {
    background-image: url('../images/webbackground2.jpg');
	
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Passion One', cursive;
}


.info{
    max-width: 800px;
    text-align: left;
    color: black;
    background: black;
	color:white;
    font-size: 13pt;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 14px;
}
.gigs {
    max-width: 650px;
    text-align: left;
    color: black;
    background: black;
	color:white;
    font-size: 13pt;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 14px;
	height: 400px;
	width:550px;
}

.gigs {
    font-size: 15pt;
}

h2 {
    font-size: 35pt;
    display: inline-block;
    margin: 5px;
}

#header {
    background-color: rgba(255,255,255, .5);
}

#menu {
    height:60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 30pt;
    vertical-align: middle;
    padding: 10px;
    
    padding-top: 20px;
}

#menu a:hover,#menu a:visited, #menu a:link, #menu a:active  {
    color: black;
    text-decoration: none;
}

.MenuItem {
    
    margin-right: 4px; 
	background-color:black;
	font-style:italic;
	font-size:30px;
}

#main {
    text-align: center;
    width: 100%;
}
/*#juniorBill {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 180pt;
    font-style: italic;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 20%;
    letter-spacing: 1px;
}*/

#juniorBill {
    width:80%;
	height:30%;
    text-align: center;
    position: relative;
    margin-top: 12%;
}

#homeIcon {
    display: inline-block;
    top: 10px;
    position: relative;
    left: 7px;
}




/* photos */
.left-col, .right-col {
    display: inline-block;
    float: left;
    
}

.left-col {
    width: 47%;
	height:100%;
}

.right-col {
    width: 37%;
	height:200%;
}
img {
    max-width: 100%;
}

.photos {
    max-width: 800px;
    margin: 0 auto;
	margin-top:40px;
	height:250px;
}

a {
    text-decoration: none;
}
